#background {
    background: black;
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    color: white;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

/* Nav and image */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.homebutton, .about, .contact {
    background-color: transparent;
    color: white;
    font-size: 1.5vw;
    border: solid #FFFFFF thin;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.dropdown {
    position: relative;
}

/* Dropdown Styles */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 1.5vw;
    border: solid #FFFFFF thin;
    padding: 0.5rem;
}

/* Background Image */
.background-image-container {
    width: 100%;
}

.backgroundimage {
    width: 100%;
}

/* Responsive Video */
.containervid video {
    width: 100%;
}

/* Right photo and left pic styles */
.rightphoto, .leftpic {
    width: 100%;
    max-width: 400px; /* Maximum width for larger screens */
    height: auto;
}

.textbox {
    padding: 2%;
}

/* Button Container */
.buttoncontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.btn-group button {
    background-color: black;
    border: 6px solid #FFFFFf;
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    width: 100%; /* Full width on small screens */
}

/* Contacts */
.link ul {
    padding: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .homebutton, .about, .contact, .dropbtn {
        font-size: 4vw; /* Increase font size for mobile */
    }

    .textbox {
        font-size: 4vw; /* Adjust text size */
    }
}
